@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:20vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 100px;
}
.context h4{
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.context p{
    text-align:left;
    color: #fff;
    font-size: 20px;
    margin-left: 100px;
    margin-right:100px;
}


html{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}